.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.firebase

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
/scripts/firestore-export.json
/public
/tests
